* {
    box-sizing: border-box;
}
 
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* Thu nho thi luon cach 2 ben */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 24.5px;
    padding: 0 16px;
}



/* ========================Header======================== */
.header {
    background-color: #FFFCF4;;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body{
    display: flex;
    align-items: center;
    padding: 38px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 8px 21px;
}

.header a:hover,
.header li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: 6px;
    left: 21px;
}

.header .action {
    margin-left: 70px;
}

.header .action .sign-up-btn {
    width: 144px;
}
